<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels"/>
    <meta name="twitter:creator" content="@themepixels"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Starlight"/>
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard."/>
    <meta name="twitter:image" content="http://themepixels.me/starlight/img/starlight-social.png"/>

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/starlight"/>
    <meta property="og:title" content="Starlight"/>
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard."/>

    <meta property="og:image" content="http://themepixels.me/starlight/img/starlight-social.png"/>
    <meta property="og:image:secure_url" content="http://themepixels.me/starlight/img/starlight-social.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard."/>
    <meta name="author" content="ThemePixels"/>

    <link rel="shortcut icon" th:href="@{/picture/favicon.ico}" type="image/x-icon"/>
    <title>茅台·天津 | 活动登记系统</title>

    <!-- vendor css -->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/ionicons.css}" rel="stylesheet"/>
    <link th:href="@{/css/perfect-scrollbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/github.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.datatables.css}" rel="stylesheet"/>
    <link th:href="@{/css/select2.min.css}" rel="stylesheet"/>


    <!-- Starlight CSS -->
    <link rel="stylesheet" th:href="@{/css/starlight.css}"/>
</head>

<body>

<!-- ########## START: LEFT PANEL ########## -->
<div class="sl-logo"><a href=""><img th:src="@{/picture/mt_logo_wh.jpg}" style="width: 30px; height: 30px;"/> <span
        style="font-size: 18px">茅台·活动登记系统</span></a></div>
<div class="sl-sideleft">
    <div class="input-group input-group-search">
        <input type="search" name="search" class="form-control" placeholder="Search"/>
        <span class="input-group-btn">
          <button class="btn"><i class="fa fa-search"></i></button>
        </span><!-- input-group-btn -->
    </div><!-- input-group -->

    <label class="sidebar-label">导航栏</label>
    <div class="sl-sideleft-menu">
        <a th:href="@{index}" class="sl-menu-link active">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-paper-outline tx-20"></i>
                <span class="menu-item-label">活动项列表</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <a th:href="@{addSalerecord}" class="sl-menu-link">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                <span class="menu-item-label">新增销售记录</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                <span class="menu-item-label">设置</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <ul class="sl-menu-sub nav flex-column">
            <li class="nav-item"><a href="form-elements.html" class="nav-link">Form Elements</a></li>
            <li class="nav-item"><a href="form-layouts.html" class="nav-link">Form Layouts</a></li>
            <li class="nav-item"><a href="form-validation.html" class="nav-link">Form Validation</a></li>
            <li class="nav-item"><a href="form-wizards.html" class="nav-link">Form Wizards</a></li>
            <li class="nav-item"><a href="form-editor-text.html" class="nav-link">Text Editor</a></li>
        </ul>
        <a href="#" class="sl-menu-link">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
                <span class="menu-item-label">关于</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
    </div><!-- sl-sideleft-menu -->

</div><!-- sl-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->

<!-- ########## START: HEAD PANEL ########## -->
<div class="sl-header">
    <div class="sl-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
    </div><!-- sl-header-left -->
    <div class="sl-header-right">
        <nav class="nav">
            <div class="dropdown">
                <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                    <span class="logged-name">Jane<span class="hidden-md-down"> Doe</span></span>
                    <img src="picture/img3.jpg" class="wd-32 rounded-circle" alt=""/>
                </a>
                <div class="dropdown-menu dropdown-menu-header wd-200">
                    <ul class="list-unstyled user-profile-nav">
                        <li><a href=""><i class="icon ion-ios-person-outline"></i> Edit Profile</a></li>
                        <li><a href=""><i class="icon ion-ios-gear-outline"></i> Settings</a></li>
                        <li><a href=""><i class="icon ion-ios-download-outline"></i> Downloads</a></li>
                        <li><a href=""><i class="icon ion-ios-star-outline"></i> Favorites</a></li>
                        <li><a href=""><i class="icon ion-ios-folder-outline"></i> Collections</a></li>
                        <li><a href=""><i class="icon ion-power"></i> Sign Out</a></li>
                    </ul>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
        </nav>
        <div class="navicon-right">
            <a id="btnRightMenu" href="" class="pos-relative">
                <i class="icon ion-ios-bell-outline"></i>
                <!-- start: if statement -->
                <span class="square-8 bg-danger"></span>
                <!-- end: if statement -->
            </a>
        </div><!-- navicon-right -->
    </div><!-- sl-header-right -->
</div><!-- sl-header -->
<!-- ########## END: HEAD PANEL ########## -->

<!-- ########## START: RIGHT PANEL ########## -->

<!-- ########## END: RIGHT PANEL ########## -->

<!-- ########## START: MAIN PANEL ########## -->
<div class="sl-mainpanel">
    <nav class="breadcrumb sl-breadcrumb">
        <a class="breadcrumb-item" th:href="index.html">茅台销售登记系统</a>
        <a class="breadcrumb-item" th:href="actList.html">活动项列表</a>
        <span class="breadcrumb-item active">客户登记列表</span>
    </nav>

    <div class="sl-pagebody">
        <!--<div class="sl-page-title">-->
            <!--<h5>Data Table</h5>-->
            <!--<p>DataTables is a plug-in for the jQuery Javascript library.</p>-->
        <!--</div>&lt;!&ndash; sl-page-title &ndash;&gt;-->

        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">客户信息登记列表</h6>
            <p class="mg-b-20 mg-sm-b-30">The list of register Customer's information.</p>

            <div class="table-wrapper">
                <table id="datatable1" class="table display responsive nowrap">
                    <thead>
                    <tr>
                        <th class="wd-10p">客户姓名</th>
                        <th class="wd-5p">性别</th>
                        <th class="wd-10p">联系方式</th>
                        <th class="wd-20p">身份证号</th>
                        <th class="wd-20p">购酒店铺</th>
                        <th class="wd-5p">购买数量</th>
                        <th class="wd-10p">购酒日期</th>
                        <th class="wd-20p">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>宋新义</td>
                        <td>男</td>
                        <td>18920219559</td>
                        <td>120103195502123815</td>
                        <td>天津海津皇冠</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>王军</td>
                        <td>男</td>
                        <td>15522302859</td>
                        <td>120101197001101518</td>
                        <td>自营店</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>宋新义</td>
                        <td>男</td>
                        <td>18920219559</td>
                        <td>120103195502123815</td>
                        <td>天津海津皇冠</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>王军</td>
                        <td>男</td>
                        <td>15522302859</td>
                        <td>120101197001101518</td>
                        <td>自营店</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>宋新义</td>
                        <td>男</td>
                        <td>18920219559</td>
                        <td>120103195502123815</td>
                        <td>天津海津皇冠</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>王军</td>
                        <td>男</td>
                        <td>15522302859</td>
                        <td>120101197001101518</td>
                        <td>自营店</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>宋新义</td>
                        <td>男</td>
                        <td>18920219559</td>
                        <td>120103195502123815</td>
                        <td>天津海津皇冠</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>王军</td>
                        <td>男</td>
                        <td>15522302859</td>
                        <td>120101197001101518</td>
                        <td>自营店</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>宋新义</td>
                        <td>男</td>
                        <td>18920219559</td>
                        <td>120103195502123815</td>
                        <td>天津海津皇冠</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>王军</td>
                        <td>男</td>
                        <td>15522302859</td>
                        <td>120101197001101518</td>
                        <td>自营店</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>宋新义</td>
                        <td>男</td>
                        <td>18920219559</td>
                        <td>120103195502123815</td>
                        <td>天津海津皇冠</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>王军</td>
                        <td>男</td>
                        <td>15522302859</td>
                        <td>120101197001101518</td>
                        <td>自营店</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>宋新义</td>
                        <td>男</td>
                        <td>18920219559</td>
                        <td>120103195502123815</td>
                        <td>天津海津皇冠</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>王军</td>
                        <td>男</td>
                        <td>15522302859</td>
                        <td>120101197001101518</td>
                        <td>自营店</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>六</td>
                        <td>男</td>
                        <td>18920219559</td>
                        <td>120103195502123815</td>
                        <td>天津</td>
                        <td>2</td>
                        <td>2018/02/08</td>
                        <td>查看 编辑</td>
                    </tr>
                    <tr>
                        <td>里三</td>
                        <td>男</td>
                        <td>1555555</td>
                        <td>120101197001101518</td>
                        <td>自营店</td>
                        <td>2</td>
                        <td>2018/02/06</td>
                        <td>查看 编辑</td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- table-wrapper -->
        </div><!-- card -->

    </div><!-- sl-pagebody -->
    <footer class="sl-footer">
        <div class="footer-left">
            <div class="mg-b-2">Copyright &copy; 2018. 天津海津皇冠贸易有限公司. All Rights Reserved.</div>
        </div>
        <div class="footer-right d-flex align-items-center">Made by 海津皇冠.</div>
    </footer>
</div><!-- sl-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->



<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/perfect-scrollbar.jquery.js}"></script>
<script th:src="@{/js/highlight.pack.js}"></script>
<script th:src="@{/js/jquery.datatables.js}"></script>
<script th:src="@{/js/datatables.responsive.js}"></script>
<script th:src="@{/js/select2.min.js}"></script>

<script th:src="@{/js/starlight.js}"></script>
<script>
    $(function(){
        'use strict';

        $('#datatable1').DataTable({
            responsive: true,
            bLengthChange: false,
            language: {
                searchPlaceholder: '输入关键字搜索...',
                sSearch: '',
                // lengthMenu: '_MENU_ items/page',
            }
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

    });
</script>

</body>
</html>
